<div class="my-modal">
    <div *ngIf="loading" class="loader">Loading...</div>

    <div *ngIf="!loading" class="content">
        <img [src]="user.avatar_url" alt="">
        <div class="user-info">
            <h3>{{user.login}}</h3>
            <hr>
            <div class="info-group">
                <div class="info-group-left">
                    <p class="field">Username:</p>
                    <p class="value">{{user.login}}</p>
                </div>
                <div class="info-group-right">
                    <p class="field">Seguindo:</p>
                    <p class="value">{{user.following}}</p>
                </div>
            </div>
            <div class="info-group">
                <div class="info-group-left">
                    <p class="field">Username:</p>
                    <p class="value">{{user.created_at | date:'dd/MM/yyyy'}}</p>
                </div>
                <div class="info-group-right">
                    <p class="field">Seguindo:</p>
                    <p class="value">{{user.followers}}</p>
                </div>
            </div>
            <div class="info-group">
                <div class="info-group-left">
                    <p class="field">Cadastrado(a):</p>
                    <p class="value">{{user.html_url}}</p>
                </div>
            </div>
            <button (click)="modalClose.emit()">FECHAR</button>
        </div>

    </div>

</div>